{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Header mt-8 mb-4">
    <h1 class="text-3xl text-white text-center">Update Password</h1>
  </div>
  <form class="bg-slate-700 w-1/3 mx-auto rounded-md text-center p-4" method="POST" action="{% url 'update_password' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="flex mb-2 text-start">
          <label class="text-nowrap text-white me-1 w-48">{{ field.label }}</label>
          {{ field }}
      </div>
      {% endfor %}
      <ul class="text-white text-xs text-start">
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      </ul>
    <button type="submit" class="bg-blue-700 rounded-md p-2 shadow-md hover:opacity-80 text-white mx-auto flex mt-4">Update Password</button>
  </form>
{% endblock content %}