{% extends 'base.html' %}

{% block content %}
  <div class="text-white">
    <h1 class="text-3xl text-center mt-4">Shopping Cart</h1>
    {% if cart_products %}
      <div class="grid grid-rows-1 w-5/6 md:w-1/2 bg-slate-700 rounded-md mx-auto my-6 p-4">
        <div class="grid grid-cols-2 pb-2 text-center">
          <h1 class="text-xl">Items</h1>
          <h3 class="text-xl">Price</h3>
        </div>
        {% for product in cart_products %}
          <div class="grid grid-cols-2 rounded-sm text-center text-white mb-3 border-y border-gray-300 p-3">
            <div class="col content-center">
              <img class="h-32 w-36 md:h-44 md:w-44 mx-auto" src="{{ product.image.url }}" alt="" />
              <h1 class="text-lg">{{ product.title }}</h1>
              <div class="flex justify-center">
                <span class="me-2 text-white">Quantity:</span>
                <select class="text-gray-800" id="select{{ product.id }}">
                  {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                      <option selected>{{ value }}</option>
                    {% endif %}
                  {% endfor %}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="w-full flex justify-between md:justify-center">
                <button class="rounded bg-blue-500 update-btn p-1 mt-2 me-2 hover:opacity-80" type="button" data-index="{{ product.id }}">Update</button>
                <button class="rounded bg-red-500 delete-btn p-1 mt-2 hover:opacity-80" type="button" data-index="{{ product.id }}">Remove</button>
              </div>
            </div>
            <div class="price content-center">
              {% for price, value in prices.items %}
                {% if price == product.id|slugify %}
                  <h1 class="text-white text-xl">${{ value }}</h1>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="grid grid-cols-1 text-center">
          <div class="text-xl">Sub-Total</div>
          <div class="mb-4">${{ totals }}</div>
          <a class="mx-auto rounded bg-green-500 p-2 hover:opacity-80 text-white" href="{% url 'checkout' %}">Checkout</a>
        </div>
      </div>
    {% else %}
      <h1 class="text-center text-3xl mt-16">Theres nothing in your cart</h1>
    {% endif %}
  </div>
  {% comment %}Update cart{% endcomment %}
  <script>
    $(document).on('click', '.update-btn', function (e) {
      e.preventDefault()
      let productId = $(this).data('index')
      $.ajax({
        type: 'POST',
        url: "{% url 'cart_update' %}",
        data: {
          product_id: $(this).data('index'),
          product_qty: $('#select' + productId + ' option:selected').text(),
          product_price: $('#product-price').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          document.getElementById('cart_qty').textContent = json.qty
          location.reload()
        },
    
        error: function (xhr, errmsg, err) {}
      })
    })
    
    $(document).on('click', '.delete-btn', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: "{% url 'cart_delete' %}",
        data: {
          product_id: $(this).data('index'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function (json) {
          location.reload()
        },
    
        error: function (xhr, errmsg, err) {}
      })
    })
  </script>
{% endblock %}
