{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="bg-blue-950 py-5 text-center mb-2">
        <div class="px-4 px-lg-5 my-5">
            <div class="text-white">
                <h1 class="text-4xl">Processing Order...</h1>
                <p class="lead fw-normal mb-0 text-white">temporary</p>
            </div>
        </div>
    </header>

    <div class="text-center">
        <h2 class="text-2xl text-white">Order Summary</h2>
    </div>

    <div class="text-white w-1/2 mx-auto text-center p-3 bg-blue-950">
        {% for product in cart_products %}
            {{ product.title }}:
                {% if product.is_sale %}
                    ${{ product.sale_price }}
                {% else %}
                    ${{ product.price }}
            {% endif %}

            <br/>
            <small>Quantity:
            {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}
                    {{ value }}
                {% endif %}
            {% endfor %}</small>
            <br/><br/>

        {% endfor %}
        Total:  ${{ totals }}
        <br/><br/>
        <a href="{% url 'cart_summary' %}" class="bg-orange-400 rounded-md p-2 shadow-md hover:opacity-80">Update Items</a>
    </div>

    <div class="w-1/2 mx-auto text-center p-3 bg-blue-950 mt-3 mb-3 text-white">
        <h1 class="text-2xl text-white">Shipping Info</h1>
        Name: {{ shipping_info.shipping_full_name }}<br/>
        Email: {{ shipping_info.shipping_email }}<br/>
        Address 1: {{ shipping_info.shipping_address1 }}<br/>
        Address 2: {{ shipping_info.shipping_address2 }}<br/>
        City: {{ shipping_info.shipping_city }}<br/>
        State: {{ shipping_info.shipping_state }}<br/>
        Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
        Country: {{ shipping_info.shipping_country }}<br/>
        <a href="{% url 'checkout' %}" class="bg-orange-400 rounded-md">Update Shipping</a>
        <button type="submit" class="block bg-orange-400 rounded-md p-2 shadow-md hover:opacity-80 mt-4 text-white mx-auto">
            Pay Now
        </button>
    </div>

    <div class="w-1/2 mx-auto text-center p-3 bg-blue-950 mt-3 mb-3 text-white">
        <h1 class="text-2xl text-white">Billing Info</h1>
        <form action="{% url 'process_order'%}" method="POST">
            {% csrf_token %}
            {{ billing_form.as_p}}
            <button type="submit" class="block bg-orange-400 rounded-md p-2 shadow-md hover:opacity-80 mt-4 text-white mx-auto">
                Pay Now
            </button>
        </form>

    </div>
{% endblock content %}